<%-include('cabecalho.ejs')%>

<form method="POST" enctype="multipart/form-data">
    
    Nome: <input type="text" name="txtNome" placeholder="Nome"><br>
    Tipo: <input type="text" name="txtEmail" placeholder="Tipo"><br>
    Foto: <input type="file" name="txtFoto"> <br>
    <input type="submit" name="Adicionar" value="Adicionar">
</form>
<%-include('rodape.ejs')%>